.egg-button {
  background-color: #6979f8;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  box-sizing: border-box;
}
.egg-button.large {
  width: 360px;
  height: 80px;
  border-radius: 10px;
  font-size: 28px;
}
.egg-button.large.round {
  border-radius: 40px;
}
.egg-button.medium {
  width: 300px;
  height: 70px;
  border-radius: 8px;
  font-size: 24px;
}
.egg-button.medium.round {
  border-radius: 35px;
}
.egg-button.small {
  width: 240px;
  height: 60px;
  border-radius: 8px;
  font-size: 22px;
}
.egg-button.small.round {
  border-radius: 30px;
}
.egg-button.light {
  background-color: #e5e7fa;
  color: #6979f8;
}
.egg-button.reverse {
  background-color: #fff;
  color: #6979f8;
  border: 2px solid #6979f8;
}
.egg-button.disable {
  border-color: #ece9f1;
  color: #d0c9d6;
}
.egg-button.reverse.disable {
  border-color: #ecebed;
  color: #ecebed;
}
button:after {
  border: none;
}
@keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  42% {
    transform: scale(1.3);
  }
  70% {
    transform: scale(1);
  }
}
.heartBeat {
  animation-name: heartBeat;
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0.09, 0.59, 0.82, 0.32);
}
