.title {
    font-size: 36px;
    font-weight: 500;
    padding: 0 0 0 20px;
    height: 50px;
}
.box {
    width: 200px;
    height: 100px;
}
.red {
    background-color: red;
}
.pink {
    background-color: pink;
}
.green {
    background-color: greenyellow;
}
.blue {
    background-color: blue;
}
.orange {
    background-color: orange;
}
