.avatar-demo {
    width: 690px;
    margin: 40px auto;
}
.tit {
    color: #1A051D;
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 20px;
}
.egg-tag {
    margin-right: 50px;
    margin-bottom: 20px;
}