.avatar-demo {
    width: 690px;
    margin: 40px auto;
}
.tit {
    color: #1A051D;
    font-size: 32px;
    padding-bottom: 20px;
}
.avatars {
    display: flex;
}
.egg-avatar {
    margin-right: 20px;
    overflow: hidden;
}